/* Hero Banner */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/Banner.jpg);
  color: #fff;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.h1{
margin-right: 15rem;
}

/* ------------CONTENT------------- */
.about li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: #bfe7fb;
}

  img {
    width: auto;
    height: 300px;
    margin-right: 2rem;
    padding: 4em;
  }

  .contents h1, p{
    text-align: center;
    max-width: 400px;
  }

  .center-wrapper{
    display: flex;
    justify-content: center;
  }
/* ----cards---- */

.card {
  background-color: red;
  border: 15px green;
  border-radius: 10px blue;
  padding: 15px;
  text-align: center;
}

.cards-container{
  display:grid;
  grid-template-columns: repeat(autofill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
  
  /* Accordion */
  .accordion{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;

  }

  .accordion-item {
    background-color: #fbd3ca;
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  .accordion-header {
    padding: 0.5rem 3rem, 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .accordion-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }

  .accordion-header.active::after {
    content: "\2212";
  }

  .accordion-body { 
   max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

.body-content { 
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, green, yellow) 1;
}

/* ------Video -----*/
.video-container{
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  padding: 10px;
}

/* --------FOOOTER------- */
.footer-container {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 6rem;
}

/* Footer Background*/
.footer{
  background-color: #f36d44;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .content-container img{
    height: auto;
    width: 100%;
    margin: 2em;
  }

  .hero-container{
    min-height: 50vh;

  }
}    


/* Tablets (screens smaller than 768px)  */
@media (max-width: 768px) {
  header h1 {
      font-size: 1.5em;
  }
  


  /* Other styles for tablet view */
}

/* Mobile phones (screens smaller than 480px) */
@media (max-width: 480px) {
  .hero-container {
      padding: 10px 0;
      height: 175px
  }

  .hero container h1 {
      font-size: 1.2em;
  }
  iframe {
    height: 200px;
    max-width: 100%;
  }
}