

/* Hero Banner */
.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/Banner.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

  .hero-container h1{
    margin-left: 15rem;
  }
}

/* ------------CONTENT------------- */
.about li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: #bfe7fb;
  img {
    width: auto;
    height: 500px;
    margin-right: 2rem;
    padding: 4em;
  }
}

  .contents h1, p{
    text-align: center;
    max-width: 400px;
  }

  .center-wrapper{
    display: flex;
    justify-content: center;
    padding: 2em;
  }

section {
  margin: 1em;
  background-color: white;
  border-radius: 8px;
}

  /* ----cards---- */

  .card {
    border: 1px solid pink;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

  }


  .card img{
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin: 1em;
  }

  .card h3{
    min-width: 500px;
    font-size: 1.2em;
  }
  

.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 10px;
}
  
  /* Accordion */
  .accordion{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;

  }

  .accordion-item {
    background-color: #fbd3ca;
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  .accordion-header {
    display: flex;
    padding: 0.5rem 3rem, 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 7px;

  }

  /*rotating icon*/
  .accordion .accordion-header.active svg{
      transform: rotate(0.5turn);
      transition: 0.4s; 
    }

  /* Icon Sizing */
  .accordion svg {
    display: inline;
    width: 1em;
    position: absolute;
    right: 20px;
  }

  .accordion-body { 
   max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

.body-content { 
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, green, yellow) 1;
}

/* ------Video -----*/
.video-container{
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  padding: 10px;
}

/* --------FOOOTER------- */
.footer-container {
  width: 100%;
  height: auto px;
  position: relative;
  margin-top: 3rem;
}

/* Footer Background*/
.footer{
  background-color: #f36d44;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}


/* Desktop (1200px) */
@media (max-width: 1400px) {
  
  .hero-container{
    min-height: 900px;
    background-size: contain;
  }

}

/* Tablets (screens smaller than 768px)  */
@media (max-width: 768px) {
  
  .hero-container{
    min-height: 450px;
    background-size: contain;
  }

  .hero-container h1{
    font-size: 1em;
  }

  .card img{
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    }

  }


/* Mobile phones (screens smaller than 480px) */
@media (max-width: 480px) {
  
  .hero-container{
    min-height: 300px;
  }

  .hero-container h1{
    font-size: 0.5em;
  }

  section{
    margin: 5px;
    padding: 5px;
    }

  iframe {
    height: 200px;
    max-width: 100%;
    }
}